@model IEnumerable<IReturnNodePointerProject.Models.DatabaseControllers.Product>
@{
	ViewData["Title"] = "MovieList";

}
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Home Page</title>
	</head>
	<body>
		<Title >@ViewData["Title"] - Movie Store</Title>
		<h2>My Movie List</h2>
		<br />
		<tbody>
		@foreach (var product in Model)
		{
			<tr>
				@Html.DisplayFor(ModelItem => product.Name)
			</tr>
		}
		</tbody>
	</body>
</html>
