@model IEnumerable<IReturnNodePointerProject.Models.DatabaseControllers.Product>
@{
	ViewData["Title"] = "BookStore";

}
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Home Page</title>
	</head>
	<body>
		<Title> @ViewData["Title"] - Book Store</Title>
		<h2>Book Listing</h2>
		<br />
	</body>
</html>
