@model ListViewModel
@{
	ViewData["Title"] = "MediaStore";

}
@{
	Layout = "_Layout";
}


<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title> @ViewData["Title"] - Media Store</title>
	</head>
	<body>
		<style type="text/css">
			td {
				padding: 0 15px;
			}
		</style>
		<h2>Media Listing</h2>
		<hr>
		<!--using this https://stackoverflow.com/questions/36743743/how-to-show-selected-value-in-dropdownlist-of-mvc-->
		<div class="dropdown" id="prodType" style="float: inherit;">
		@using (Html.BeginForm("Index", "", FormMethod.Get))
		{
			@Html.DropDownList("sortingME", new SelectList(Model.genres, "Name", "Name", ViewBag.GenSortParam), "--Product --", new { @class = "form-control" })
			<input type="submit" value="search" />
		} 
		</div>
		<hr>
		<!-- ALot of the stuff in here was modified from the tutorial in the doccumentation here: https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model?view=aspnetcore-7.0&tabs=visual-studio-->
		@{
			await Html.RenderPartialAsync("_itemIndex");
		}
	</body>
</html>
