@{
	ViewData["Title"] = "MovieList";

}
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Home Page</title>
	</head>
	<body>
		<h2>My Movie List</h2>
		<p>TemplateView</p>
	</body>
</html>
