<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdm.jsdelivr.net/npm/bootstrap-icons@Int16.5.0/font/bootstrap-icons.css"
</head>
<body> 
    @* Followed code guide in this video https://www.youtube.com/watch?v=VA4ThmZ8lH4 With additions of these for the search bar updating list and cart/account links *@
    <header class="navBar">
        <!--
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Random Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-0.5">
                        @*Link to home page / i class is adding an image*@
                        <li class="navbar-nav flex-grow-1"> 
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"> <i class ="badge-info bi-film"></i>Home</a>
                        </li>
                        @*Link to Cart Screen *@
                        <li class="navbar-nav flex-grow-1">
                            <a class="nav-link text-dark" asp-controller="Cart" asp-action="Cart"> Cart (icon)</a>
                        </li>
                        @*Account DropDown Menu *@
                        <li class ="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle = "button" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a> 
                            <div class="dropdown-menu-dark" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Account"> Account Page</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login"> Log Out</a>
                            </div>
                        </li>
                    </ul>
                    @*Add the action to re-direct back to thee same page but with extra bits in the url that informs the view? For the Search BAr*@
                    <form class="form-inline my-2 my-lg-0" asp-controller = "Home" asp-action = "Index" style="padding-right: 20px;">
                        <input name = "searchString" type="text" class="form-control" placeholder="Search For a ____...." />
                        <button class="btn btn-outline-sucess my-2 my-sm-0" type="submit"> <i class= "bi bi-search"></i></button> 
                    </form>
                </div>
            </div>
        </nav>
        -->
        <div class="navControls">
            <button class="navBtn">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </button>
        </div>
        <!--The base template for this was taken from https://www.w3schools.com/css/css_dropdowns.asp we will contune to modify it from here, but take the core elements as a launch pad for our design-->
        <div class="dropdown">
            <button class="dropdown-btn">Account</button>
            <div class="dropdown-item">
                <a asp-controller="Account" asp-action="Account"> Account Page</a>
                <a asp-controller="Account" asp-action="login">logout</a>  
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 1984 - RandomWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        /*navbar settings*/
        .navBar{
            width: 100%;
            height: auto;
            background-color: black;
            box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
        }
       /* just general button styling*/
       .navControls{
           float: left;
       }
       .navBtn{
            background-color: #000000;
            color: white;
            padding 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
       }
       .navBtn:hover{
           background-color: #ee90fc;
        }
        .navBtn a{
            color: white;
            text-decoration: none;
        }
       /* all the dropdown styling.*/        
        .dropdown{
            float: left;
            poition: relative;
            display: inline-block;
        }
        .dropdown-btn{
            background-color: #000000;
            color: white;
            padding 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        .dropdown-item{
            display: none;
            position: absolute;
            background: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        .dropdown-item a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-item a:hover{
            background-color: #ee90fc;
        }
        .dropdown:hover .dropdown-item{
            display: block;
        }
        .dropdown:hover .dropdown-btn{
            background-color: #ee90fc;
        }
        
        </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>