@if (ViewBag.userType == "Patron")
{
@model IReturnNodePointerProject.Models.User;
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="AdminAccountsView">
                <div class="row mb-5">
                    <p style="color:red">@Html.ValidationMessage("Error","")</p>
                </div>
                <h1>Add Patron Account:</h1>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Email:</label>
                    <div class="col-md-10">
                        <input asp-for="email" class="form-control" id="email" name="email" type="text" value=@ViewBag.Data.email />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">DisplayName:</label>
                    <div class="col-md-10">
                    <input asp-for="Name" class="form-control" id="Name" name="Name" type="text" value=@ViewBag.Data.Name />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Password:</label>
                    <div class="col-md-10">
                    <input type="text" asp-for="HashPW" class="form-control" id="HashPW" name="HashPW" value=@ViewBag.Data.HashPW />
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-md-2">
                        <button type="submit" class="btn btn-primary" value="User">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
}
@if (ViewBag.userType == "User")
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="AdminAccountsView">
                <h1>Add Company Account:</h1>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Email:</label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" id="Email" name="Email" type="text" value=@ViewBag.Data.email />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">DisplayName:</label>
                    <div class="col-md-10">
                    <input asp-for="Name" class="form-control" id="Name" name="Name" type="text" value=@ViewBag.Data.Name />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Password:</label>
                    <div class="col-md-10">
                    <input type="text" asp-for="HashPW" class="form-control" id="HashPW" name="HashPW" value=@ViewBag.Data.HashPW />
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-form-label col-md-5">Admin</label>
                    <input type="radio" asp-for="IsAdmin" class="form-control" id="IsAdmin" name="IsAdmin" value=@ViewBag.Data.IsAdmin />
                </div>
                <div class="row">
                    <div class="col offset-md-2">
                        <button type="submit" class="btn btn-primary" value="User">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
