@page
@model IReturnNodePointerProject.Models.LoginViewModel;

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-action="Register">
            <div class="row mb-2">
                <label class="col-form-label col-md-2">Email:</label>
                <div class="col-md-4">
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">DisplayName:</label>
                <div class="col-md-4">
                    <input asp-for="PreferedName" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="PreferedName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">Password:</label>
                <div class="col-md-4">
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-2">Confirm Password:</label>
                <div class="col-md-4">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>
                <div class="col">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    Have an account? <a asp-action="Login">Login</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h2>Aleady have an account:</h2>
        <button id="ToLoginPage" type="submit" asp-controller="Account" asp-action="Login"> Login</button>
    </div>
</div>

