@model IReturnNodePointerProject.Models.LoginViewModel;
@{
    Layout = "_Layout";
}
<!-- change validation so it dounst remove the existing data that is not incorrect or any -->
<!---Some basic stuff https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions/hands-on-labs/aspnet-mvc-4-helpers-forms-and-validation -->
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Register">
            <h1>Register:</h1>
            <div class="row mb-2">
                <label class="col-form-label col-md-5">Email:</label>
                <div class="col-md-10">
                    <input asp-for="Username" class="form-control" id="Username" name="Username" type="text" value=@ViewBag.Data.Username />
                    <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-5">DisplayName:</label>
                <div class="col-md-10">
                    <input asp-for="PreferedName" class="form-control" id="PreferedName" name="PreferedName" type="text" value=@ViewBag.Data.PreferedName />
                    <span class="field-validation-valid" </span>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-5">Password:</label>
                <div class="col-md-10">
                    <input type="Password" asp-for="Password" class="form-control" id="Password" name="Password" value=@ViewBag.Data.Password />
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-form-label col-md-5">Confirm Password:</label>
                <div class="col-md-10">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" name="ConfirmPassword" value=@ViewBag.Data.ConfirmPassword />
                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <!-- Maybe have it as not required to enter just yet -->

            <div class="row mb-5">
                <p style="color:red">@Html.ValidationMessage("Error","")</p>
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <button type="submit" class="btn btn-primary" value="LoginViewModel">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h2>Aleady have an account:</h2>
        <form>
            <button class="btn btn-primary" asp-action="Login" asp-controller="AccountController">Login</button>
        </form>
    </div>
</div>


